<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
</head>
<body>
<p>Hello!</p>
<p>This is the link to reset your current password and send new temporary password to you.
    Click the link below to start the procedure:</p>
    $input
<p>If you get this mail by mistake ignore this email.</p>
</body>
</html>